.Buy-tag{
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.buy-now-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  h1,
  h2 {
    margin: 0;
  }
  
  .shipping-section,
  .payment-section {
    margin-bottom: 20px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  btn {
    padding: 10px 20px;
    background-color: #ff00b72a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  btn:hover {
    background-color: #0056b3;
  }
  